---
title: "Feature Switching in the i-vector Framework for Speaker Verification"
collection: publications
permalink: /publication/2014-01-01-Feature-Switching-in-the-i-vector-Framework-for-Speaker-Verification
date: 2014-01-01
venue: 'In the proceedings of 15th Annual Conference of the International Speech Communication Association'
paperurl: 'https://www.isca-speech.org/archive/interspeech_2014/i14_1125.html'
citation: ' Asha T,  Saranya S,  Karthik S,  Srikanth Madikeri,  Hema Murthy, &quot;Feature Switching in the i-vector Framework for Speaker Verification.&quot; In the proceedings of 15th Annual Conference of the International Speech Communication Association, 2014.'
---
[Access paper here](https://www.isca-speech.org/archive/interspeech_2014/i14_1125.html){:target="_blank"}
